<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <rewrite>
            <rules>
                <!--<remove name="RewriteUserFriendlyURL-Advanced" />-->
                <rule name="default docs to index.html" enabled="true" stopProcessing="true">
                    <match url=".*\.\w{3}/{1}\w+/(default.asp|default.aspx)" />
                    <action type="Redirect" url="index.html" />
                    <conditions>
                    </conditions>
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>